/*Diseño global*/

@import url(./Stylecss/@media.css);
@import url(./Stylecss/Content.css);
@import url(./Stylecss/Bar.css);
@import url(./Stylecss/Arrows.css);


@font-face {
    font-family:"Quicksand";
    src: url(./Fonts/Quicksand-Light.ttf) format("truetype")
}

html {
    min-width: 100%;
    height: 100%;
}
html #home_Body{
    border:0;
    margin:0;
    padding:0;
    position: relative;
}
body {
    box-sizing: border-box;
    background-image: url("Img-Nav/fondo epicardo.png");
}

#homme_Body{
    display: flex;
}


